@import "../../../styles/variables";

.blog-detail {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200vh;
  .detail-content {
    width: 65%;
    .action-user {
      .interact {
        margin: 150px 0;
        display: flex;
        flex-wrap: wrap;
        .like {
          cursor: pointer;
          width: 100%;
          padding-bottom: 10px;
          .comment-action {
            padding-left: 5px;
          }
        }
        .dislike {
          cursor: pointer;
          .comment-action {
            padding-left: 5px;
          }
        }
      }
    }
    .blog {
      padding: 50px 0;
      .infor-user {
        height: 8%;
        display: flex;
        .item-title {
          width: 70%;
          height: 70%;
          .item-avatar {
            display: flex;
            align-items: center;
            justify-content: center;
            .avatar {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 50px;
              width: 50px;
              background-color: beige;
              border-radius: 50%;
              img {
                border-radius: 50%;
                width: 80%;
              }
            }
          }
          .content {
            .details {
              padding: 5px;
              display: flex;
              align-items: center;
              a {
                padding-right: 20px;
              }
              span {
                color: rgb(3, 3, 3);
                padding-right: 5px;
              }
              div {
                color: rgb(197, 197, 192);
              }
            }
            .user {
              display: flex;
            }
          }
        }
        .time-current {
          width: 30%;
        }
      }
      .blog-titles {
        font-size: 25px;
        font-weight: 600;
        padding: 0 20px;
        height: 10%;
      }
      .content-blog {
        padding: 0 20px;
        height: 75%;
      }
    }
    .event {
      background: rgb(214, 204, 204);
    }
  }
}

.list-comment {
  width: 100%;
  border-radius: 5px;
  .comment {
    position: relative;
    width: 100%;
    .total-reply {
      display: flex;
      justify-content: space-between;
      margin: 30px 0;
      font-weight: 600;
      height: 25px;
      span {
        position: absolute;
        left: -30px;
        font-size: 18px;
      }
      .hr {
        position: absolute;
        right: 0;
        width: 90%;
        height: 2px;
        margin-top: 20px;
        border: 0;
        border-top: 2px solid rgba(7, 7, 7, 0.1);
      }
    }
    .load-more {
      cursor: pointer;
    }
  }
}
.form-comment {
  //padding-left: 5%;
  display: block;
  align-items: center;
  //height: 45px;
  width: 100%;
  .preview-comment {
    background-color: #fff;
    border-radius: 5px;
    min-height: 60px;
    padding: 10px;
  }
  .ant-input {
    border-radius: 5px;
    max-width: 100%;
    height: 150px;
  }
  .ant-btn {
    margin-top: 10px;
    border-radius: 5px;
    background-color: #70b6e6;
    color: #fff;
    font-weight: 500;
  }
  .button-upload {
    margin-top: 5;
    color: black;
    font-weight: 400;
    background-color: white;
  }
}
.reply-item {
  background-color: rgb(255, 255, 255);
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 10px 20px;
  .user-inf {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    .avatar {
      width: 40px;
      border-radius: 50%;
      height: 100%;
      background-color: rgb(195, 207, 207);
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        border-radius: 50%;
        width: 35px;
      }
    }
    .reply-inf {
      padding-left: 15px;
      .username {
        font-size: 15px;
        font-weight: 600;
      }
      .create-at {
        font-size: 12px;
      }
    }
    .report {
      cursor: pointer;
      position: absolute;
      color: rgb(128, 235, 235);
      top: 0;
      right: 0;
      i {
        font-size: 18px;
      }
      &:hover {
        color: rgb(196, 68, 68);
      }
    }
  }
  .reply-content {
    padding: 20px 20px;
  }
}
