@import "../../styles/variables";
.ant-back-top {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(219, 235, 235);
  div {
    font-size: 25px;
  }
}
.background {
  // background-color: #efefef;
  .affix-button {
    position: fixed;
    position: fixed;
    bottom: 100px;
    right: 95px;
    .rectangle {
      width: 130px;
      height: 35px;
      background-color: rgb(202, 202, 1);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 7px;
    }
    .arrow-right {
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;  
      border-left: 10px solid rgb(202, 202, 1);
    }
    .ant-btn-primary {
      background-color: rgb(202, 202, 1);
      border: 1px solid white;
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
  }
}
