@import "../../../../styles/variables";
.user-event {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .notification {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px;
    border-radius: 50%;
    margin-left: 30px;
    margin-right: 10px;
    // font-size: 20px;
    // border: 1px solid #3d4852;
  }
  .notification:hover {
    background-color: #efefef;
  }
  .popover-content {
    display: flex;
    align-items: center;
    .user-img {
      width: 20%;
      border-radius: 50%;
      border: 1px solid #bcc0c4;
      img {
        border-radius: 50%;
        width: 100%;
      }
    }
    .user-detail {
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.ant-popover {
  position: fixed;
  .ant-popover-content {
    .ant-popover-inner {
      .ant-popover-inner-content {
        padding: 0;
      }
    }
  }
}
