@import "../../styles/variables";

.btnLogin {
  margin-top: 15px;
  border: none;
  background-color: rgb(80, 80, 252);
  border-color: rgb(53, 53, 255);
  border-radius: 3px;
  color: #ffffff;
  width: 430px;
  height: 38.4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnLogin:hover {
  cursor: pointer;
  background-color: rgb(53, 53, 255);
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../pages/image/bg-3.jpg") no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100vh;
  .login-content {
    height: 40%;
    width: 40%;
    margin-bottom: 50px;
    .logo {
      justify-content: center;
      display: flex;
      align-items: center;
      height: 30%;
      img {
        width: 30%;
      }
    }
    .euclid {
      display: flex;
      justify-content: center;
      height: 30px;
    }
    .google {
      display: flex;
      justify-content: center;
      height: 40%;
      padding: 50px;
      color: #000;
      font-weight: 600;
      button {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        &:hover {
          color: #fff;
        }
        span {
          color: #000;
        }
        div {
          margin-top: 5px;
        }
        i {
          padding-right: 5px;
          font-size: 20px;
        }
      }
    }
  }
}
.logout {
  width: 100%;
  button {
    width: 100%;
    span {
      color: #000;
    }
    &:hover {
      color: rgb(180, 179, 179);
    }
    div {
      margin-left: 16px;
      margin-top: 8px;
    }
    i {
      padding-right: 30px;
      font-size: 20px;
    }
  }
}
