@import "../../../styles/variables";

.footer {
  height: 25vh;
  .footer-content {
    display: flex;
    height: 85%;
    align-items: center;
    justify-content: center;
    background-color: #70b6e6;
    .content-details {
      width: 75%;
      height: 100%;
      .detail-inf {
        padding: 20px 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .logo {
          display: flex;
          align-items: center;
          height: 40%;
          width: 100%;
          img {
            width: 20%;
          }
        }
        .title {
          width: 100%;
          color: #fff;
          font-weight: 400;
          font-size: 16px;
        }
        .social-network {
          font-size: 40px;
          i {
            padding-left: 10px;
            color: #fff;
          }
        }
      }
      .action {
        display: flex;
        align-items: center;
        .action-list {
          cursor: pointer;
          font-size: 18px;
          color: #fff;
          list-style-type: circle;
          
          li {
            &:hover {
              color: rgb(231, 231, 223);
            }
            a {
              color: rgb(231, 231, 223);
            }
          }
        }
      }
      .address-detail {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .action-list {
          cursor: pointer;
          font-size: 18px;
          color: #fff;
          list-style-type: circle;
          height: 40%;
          width: 100%;
        }
        .inbox {
          position: absolute;
          width: 100%;
        }
        .address {
          width: 100%;
        }
      }
    }
  }
  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    background-color: #e2e2e2;
  }
}
