@import "../../../../styles/variables";

.user-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .user-general {
    margin-bottom: 20px;
    font-size: 16px;
    padding: 0 15px;
    border-radius: 5px;
    height: 20vh;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    .user-default {
      height: 30%;
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      .avatar {
        img {
          border-radius: 50%;
          width: 40px;
        }
      }
      .username {
        display: flex;
        flex-wrap: wrap;
        .img-rank {
          margin-top: 5px;
          display: flex;
          align-items: center;
          img {
            width: 20px;
          }
          span {
            padding-left: 10px;
            font-size: 15px;
            font-weight: 600;
          }
        }
        span {
          font-size: 14px;
          width: 100%;
        }
      }
    }
  }
  .start-ask {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 80px;
    .ask-title {
      font-size: 18px;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40%;
      width: 100%;
    }
    .ant-btn {
      font-weight: 700;
      color: #fff;
      height: 60%;
      width: 100%;
      background-color: #70b6e6;
      border-radius: 5px;
      &:hover {
        background-color: #99d0f5;
        color: #000;
      }
    }
  }
  .user-top {
    margin-top: 20px;
    .top-title {
      color: blue;
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      text-decoration: underline;
    }
    .top-content {
      .top-fillter {
        padding: 10px 0 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        .ant-select {
          width: 50%;
        }
        .ant-select-selector {
          border: 1px solid #70b6e6;
          align-items: center;
          font-weight: 700;
          border-radius: 5px;
          height: 35px;
        }
      }
      .ratings-user {
        height: 300px;
        width: 100%;
        // box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        &::-webkit-scrollbar {
          width: 2px;
          background-color: #f5f5f5;
        }
        overflow: auto;
        .list-user {
          font-size: 15px;
          height: 20%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .infor-user {
            img {
              border-radius: 50%;
              width: 30px;
              margin-right: 10px;
            }
          }
          .point {
            font-weight: 700;
          }
        }
      }
    }
  }
}
