@import "../../../../styles/variables";

.menu-sort-subject {
  border: none;
  .ant-menu-submenu {
    border: none;
  }
  .ant-menu-inline {
    width: 100%;
    border-right: none;
  }
  .ant-menu-item-active {
    border: none !important;
  }
  .ant-menu-item {
    border-radius: 5px;
    .ant-checkbox-wrapper {
      display: flex;
      align-items: center;
      .ant-checkbox {
        top: 0;
      }
      span {
        display: flex;
        i {
          font-size: 20px;
          padding-right: 10px;
        }
        align-items: center;
      }
    }
    &::after {
      border-right: none;
    }
  }
}
