@import "../../../../styles/variables";

.edit-profile {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  .content {
    position: relative;
    margin: 30px 0;
    width: 60%;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    .inf-user {
      height: 25%;
      .user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        .image {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          height: 100%;
          .avatar-user {
            display: flex;
            align-items: center;
            justify-self: center;
            height: 75%;
            border-radius: 50%;
            img {
              height: 80%;
              width: 80%;
              border-radius: 50%;
            }
          }
          .upload {
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: 0;
            // right: 55%;
            position: absolute;
            height: 10px;
            width: 400px;
            .ant-upload-span {
              background-color: aqua;
              .ant-upload-list-item-thumbnail {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
              }
            }
          }
          a {
            padding-top: 20px;
          }
        }
        .general-inf {
          .inf1,
          .inf2,
          .inf3,
          .inf4 {
            display: flex;
            align-items: center;
            padding: 10px 0;
            font-size: 16px;
            font-weight: 600;
            span {
              font-size: 15px;
              font-weight: 500;
              padding-left: 30px;
            }
            .rank {
              padding-left: 30px;
              justify-content: center;
              align-items: center;
              display: flex;
              a {
                font-size: 15px;
                font-weight: 500;
                padding-left: 5px;
              }
            }
          }
        }
      }
    }
    .edit-user {
      position: absolute;
      right: 25%;
      top: 30%;
      height: 75%;
      .title {
        font-size: 23px;
        margin: 30px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .acction-button {
      display: flex;
      align-items: center;
      justify-content: center;
      .ant-btn-primary {
        margin: 20px 10px;
        width: 100px;
      }
    }
  }
}
