@import "../../styles/variables";
.details-modal {
  max-height: fit-content;
  .ant-modal-content {
    border-radius: 5px;
    .ant-modal-header {
      border-radius: 5px;
    }
    .ant-modal-body {
      padding: 15px 20px;
      .content {
        .selection {
          display: flex;
          margin-bottom: 15px;
          .ant-form-item {
            margin-bottom: 0;
          }
          .selection-op {
            width: 300px;
            margin-right: 20px;
            .ant-select-selector {
              border-radius: 5px;
            }
          }
          .selection-option {
            width: 100px;
            margin-right: 20px;
            .ant-select-selector {
              border-radius: 5px;
            }
          }
        }
      }
      .content-post-tuto {
        display: flex;
        flex-direction: row;
        align-items: center;
        .content-post-tuto-code {
          display: flex;
          flex-direction: row;
          align-items: center;
          .tuto-code {
            border-radius: 5px;
            text-align: center;
            margin: 10px 0 10px 0;
            width: 40px;
            background-color: #dddd;
          }
        }
        .content-post-tuto-bold {
          margin-left: 15px;
          display: flex;
          flex-direction: row;
          align-items: center;
          .tuto-bold {
            border-radius: 5px;
            text-align: center;
            margin: 10px 0 10px 0;
            width: 40px;
            font-weight: bold;
          }
        }
        .content-post-tuto-italic {
          margin-left: 15px;
          display: flex;
          flex-direction: row;
          align-items: center;
          .tuto-italic {
            border-radius: 5px;
            text-align: center;
            margin: 10px 0 10px 0;
            width: 40px;
            font-style: italic;
          }
        }
        .content-post-tuto-quote {
          margin-left: 15px;
          display: flex;
          flex-direction: row;
          align-items: center;
          .tuto-quote {
            border-radius: 5px;
            text-align: center;
            margin: 10px 0 10px 0;
            width: 40px;
            font-style: italic;
          }
        }
        .content-post-tuto-down-line {
          margin-left: 15px;
          display: flex;
          flex-direction: row;
          align-items: center;
          .tuto-down-line {
            text-align: center;
            margin: 10px 0 10px 0;
            width: fit-content;
            font-style: italic;
          }
        }
        .content-post-tuto-syntax {
          margin-left: 15px;
          display: flex;
          flex-direction: row;
          align-items: center;
        }
      }
      .content-post-preview {
        width: 100%;
        margin: 10px 0 10px 0;
      }
      .content-post-detail {
        width: 100%;
        margin: 0px 0 20px 0;
        // height: 22vh;
        // textarea {
        //   border-radius: 5px;
        //   min-height: 18vh;
        //   max-height: 18vh;
        //   overflow-y: scroll;
        //   // overflow: scroll;
        //   resize: none;
        //   height: 18vh;
        //   width: 100%;
        //   padding: 10px 10px;
        //   border: 2px solid rgb(190, 187, 187);
        // }
        // .ql-container {
        //   .ql-editor {
        //     min-height: 18vh;
        //     max-height: 18vh;
        //     overflow-y: scroll;
        //   }
        // }
      }
      .submit-post {
        padding: 10px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid rgb(212, 205, 205);
      }
    }
  }
}
