@import "../../../../styles/variables";

.container {
  background-color: #efefef;
  .background {
    background-color: #3498db;
    height: 120px;
  }
  .user-infor-detail {
    display: flex;
    justify-content: center;
    .ant-btn {
      border-radius: 5px;
      margin: 20px 20px;
      height: 40px;
      position: relative;
      bottom: 340px;
      left: 800px;
    }
    .content {
      border-radius: 5px;
      background-color: white;
      width: 50%;
      height: 350px;
      .avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        background-color: white;
        border-radius: 50%;
        border: 7px solid #3498db;
        width: 120px;
        height: 120px;
        position: relative;
        top: -50px;
        img {
          width: 99%;
          height: 99%;
          border-radius: 50%;
        }
      }
      .info {
        position: relative;
        text-align: center;
        top: -40px;
        .userName {
          //text-align: center;
          font-size: 17px;
        }
        .name {
          font-size: 30px;
        }
        .date {
          margin-top: 10px;
          color: rgb(100, 98, 98);
        }
        .rank {
          margin-top: 10px;
          img {
            width: 80px;
          }
          .rank-items {
            margin-top: 20px;
            span {
              font-size: 18px;
              font-weight: 600;
              padding-right: 10px;
            }
            a {
              padding-left: 10px;
            }
          }
        }
      }
    }
  }
  .content-detail {
    min-height: 50vh;
    .statistical {
      margin-left: 25%;
      margin-top: 20px;
      .statistical-content {
        padding: 5px 40px;
        border-radius: 5px;
        width: 95%;
        background-color: white;
        height: 120px;
        font-size: 14px;
      }
    }
    .thongSo1 {
      margin-top: 20px;
      .ant-btn {
        border: 0.1px solid #f9f9f9;
        border-radius: 5px;
        margin-right: 5px;
      }
      .ant-btn:hover {
        background-color: #3498db;
        color: white;
      }
      .ant-btn:focus {
        background-color: #3498db;
        color: white;
      }
      .your-post {
        margin-top: 10px;
        border: 0.1px solid #f9f9f9;
        border-radius: 5px;
        margin-bottom: 20px;
        height: 200px;
        background-color: white;
        padding: 10px;
        .post-inf {
          align-items: center;
          justify-content: space-between;
          height: 50px;
          display: flex;
          padding: 0 10px;
          .score {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            width: 30px;
            font-size: 12px;
            color: #fff;
            font-weight: 600;
            border-radius: 50%;
            background-color: #3498db;
          }
          .card {
            padding: 5px 0;
            display: flex;
            flex-wrap: wrap;
          }
        }
        .name-date {
          margin-left: 10px;
          font-size: 15px;
          .date {
            font-size: 10px;
          }
        }
        .title-post {
          margin: 10px 10px;
          font-size: 20px;
          font-weight: 600;
        }
        .content-interact {
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .interact {
            padding-left: 20px;
            .anticon-like {
              cursor: pointer;
            }
            .comment-action {
              padding: 0 10px;
            }
            .anticon-dislike {
              cursor: pointer;
            }
          }
          .reply {
            margin-bottom: 10px;
            .ant-btn {
              border: 1px solid #70b6e6;
              height: 35px;
              color: #70b6e6;
              border-radius: 5px;
              background-color: #ffffff;
            }
          }
        }
        .update {
          .ant-btn {
            display: flex;
            align-items: center;
            i {
              padding-right: 5px;
            }
          }
        }
      }
      .your-post:hover {
        border: 0.1px solid #3498db;
        cursor: pointer;
      }
      .your-cmt {
        border: 0.1px solid #f9f9f9;
        border-radius: 5px;
        margin-top: 10px;
        font-size: 15px;
        padding: 10px 20px;
        margin-bottom: 20px;
        background-color: white;
        .content-cmt {
          .post-inf {
            span {
              padding-right: 10px;
            }
            height: 25px;
          }
          .date_create {
            span {
              font-size: 13px;
              padding-left: 10px;
            }
          }
          .cmt-content {
            margin: 10px 0;
            span {
              padding-left: 10px;
            }
          }
        }
      }
      .your-cmt:hover {
        border: 0.1px solid #3498db;
        cursor: pointer;
      }
    }
  }
}
