@import "../../../../styles/variables";

.form-comment {
  //padding-left: 5%;
  display: block;
  align-items: center;
  //height: 45px;
  width: 100%;
  .preview-comment {
    background-color: #fff;
    border-radius: 5px;
    min-height: 60px;
    padding: 10px;
  }
  .ant-input {
    border-radius: 5px;
    max-width: 100%;
    height: 150px;
  }
  .ant-btn {
    margin-top: 10px;
    border-radius: 5px;
    background-color: #70b6e6;
    color: #fff;
    font-weight: 500;
  }
  .button-upload {
    margin-top: 5;
    color: black;
    font-weight: 400;
    background-color: white;
  }
}
