@import "../../styles/variables";

.rank-item{
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  .item{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    .image{
      display: flex;
      justify-content: center;
      height: 100%;
    }
    .content{
      padding-right: 15px;
      .title{
        font-size: 20px;
        padding: 10px 0;
      }
      .point{
        padding: 5px 0;
      }
      .inf{
        padding: 10px 30px 30px 0;
      }
    }
  }
}