@import "../../styles/variables";

.rank-content {
  margin: 25px 0 25px 200px;
  // margin-left: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  .rank {
    width: 65%;
    .list-rank{
      
    }
  }
}
