$poppins-helvetica: "Poppins, Helvetica, Arial, sans-serif";

$f1: rem(60px);
$f2: rem(48px);
$f3: rem(36px);
$f4: 32px;
$f5: 1.5rem;
$f6: 20px;
$f7: 1rem;
$f8: 1rem;
$f9: rem(13px);
$f10: 12px;
$f11: rem(10px);
$f12: rem(8px);
$f13: rem(7px);
$f14: 2.625rem;
$f15: 18px;
$f16: 14px;
$f17: 42px;
$f18: 16px;

// FONT-WEIGHT
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semiBold: 600;
$fw-bold: 700;
$fw-black: 900;

$color-red: #dc3a61;
$color-white: #ffffff;
$color-black: #000000;
$color-brown: #666666;
$color-gray: #eceff1;
$color-line: #e4e4e4;
$color-bg: #eeeeee;
$color-gray-bg: #f3f3f3;
$color-light-gray-bg: #f4f4f4;
$color-gray2: #807878;


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 767px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@mixin media-query($key, $breakpoint: $grid-breakpoints) {
  @media (min-width: map-get($breakpoint, $key)) {
    @content;
  }
}

.red{
  color: #ec556c;
}
.green{
  color: #3fff2b;
}
.yellow{
  color: #f8bc05;
}
.aqua{
  color: #13cfeb;
}