@import "../../../../styles/variables";

.reply-item {
  background-color: rgb(255, 255, 255);
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 10px 20px;
  .user-inf {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    .avatar {
      width: 40px;
      border-radius: 50%;
      height: 100%;
      background-color: rgb(195, 207, 207);
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        border-radius: 50%;
        width: 35px;
      }
    }
    .reply-inf {
      padding-left: 15px;
      .username {
        font-size: 15px;
        font-weight: 600;
      }
      .create-at {
        font-size: 12px;
      }
    }
    .report{
      cursor: pointer;
      position: absolute;
      color: rgb(128, 235, 235);
      top: 0;
      right: 0;
      i{
        font-size: 18px;
      }
      &:hover{
        color: rgb(196, 68, 68);
      }
    }
  }
  .reply-content {
    padding: 20px 20px;
  }
}
