@import "../../../styles/variables";
.header {
  height: 75px;
  font-size: 24px;
  color: #3d4852;
  .header-menu {
    font-weight: 600;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 5px 15px rgba(128, 128, 128, 0.3);
    z-index: 9;
    .logo-header {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 150px;
      }
    }
    .menu {
      .menu-custom {
        padding-top: 8px;
        background: transparent !important;
        display: flex;
        justify-content: space-between;
        margin-right: 50px;
        font-style: normal;
        border-right: none;
        .ant-menu-submenu {
          border: none;
        }
        .ant-menu-item {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40%;
          border-radius: 5px;
        }
        .ant-menu-item-selected {
          background-color: #70b6e6;
          a {
            color: #ffffff;
          }
        }
      }
    }
    .header-search {
      .ant-input {
        height: 40px;
        width: 70%;
        margin-right: 5%;
        border-radius: 5px;
      }
      .ant-btn {
        width: 20%;
        height: 40px;
        color: #fff;
        border-radius: 5px;
        background-color: #70b6e6;
        font-weight: 600;
      }
    }
    .menu-user {
      height: 100%;
      font-size: 14px;
      .user-inf {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .user-login {
          cursor: pointer;
          width: 40%;
          height: 50%;
          background-color: #e7e7e7;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            color: #fff;
            background-color: rgb(147, 149, 151);
          }
        }
        .user-register {
          cursor: pointer;
          width: 40%;
          height: 50%;
          background-color: #70b6e6;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            color: #fff;
            background-color: #99c0da;
          }
        }
      }
    }
  }
}
