@import "../../../../styles/variables";
.post {
  background-color: $color-gray;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  .post-detail {
    margin-left: 12%;
    width: 60%;
    display: flex;
    justify-content: space-between;
    .post-conent {
      padding-bottom: 20px;
    }
    .trending-content {
      display: flex;
      justify-content: center;
    }
  }
}
