@import "../../../../styles/variables";

.user-menu{
  width: 300px;
  .menu-item{
    cursor: pointer;
    padding-left: 20px;
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid rgb(217, 223, 223);
    span{
      padding-left: 10px;
    }
    &:hover{
      color: rgb(94, 143, 184);
    }
  }
}