@import "../../../../styles/variables";
.list-comment {
  width: 100%;
  border-radius: 5px;
  .comment {
    position: relative;
    width: 100%;
    .total-reply {
      display: flex;
      justify-content: space-between;
      margin: 30px 0;
      font-weight: 600;
      height: 25px;
      span {
        position: absolute;
        left: -30px;
        font-size: 18px;
      }
      .hr {
        position: absolute;
        right: 0;
        width: 90%;
        height: 2px;
        margin-top: 20px;
        border: 0;
        border-top: 2px solid rgba(7, 7, 7, 0.1);
      }
    }
    .load-more {
      cursor: pointer;
    }
  }
}
