@import "../../../../styles/variables";

.item-detail {
  margin-top: 20px;
  display: block;
  border-radius: 5px;
  box-shadow: 0px 2px 14px 5px #f3f2f2;
  background-color: #fff;
  .content-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35%;
    padding: 5px 15px;
    .infor-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 6%;
      height: 45px;
      border-radius: 50%;
      box-shadow: 0px 0px 5px #000 inset;
      img {
        width: 44px;
        height: 44px;
        border-radius: 50%;
      }
    }
    .infor-details {
      width: 85%;
      height: 90%;
      .details {
        span {
          padding-right: 20px;
        }
      }
    }
    .infor-point {
      width: 4%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      height: 30px;
      color: #fff;
      font-size: 12px;
      font-weight: 600;
      background-color: #70b6e6;
    }
  }
  .content-detail {
    margin: 20px 50px;
    .title-content {
      font-style: oblique;
      font-size: 20px;
      padding-bottom: 10px;
    }
    // .post-content {
    //   // font-size: 18px;
    //   // display: flex;
    //   // align-items: center;
    //   // height: 30%;
    // }
  }
  .content-interact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    .interact {
      padding-left: 6%;
      .like {
        cursor: pointer;
      }
      .dislike {
        cursor: pointer;
      }
      .comment-action {
        padding: 0 10px;
      }
    }
    .reply {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 5%;
      .detail {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        font-size: 15px;
        font-weight: 600;
        color: #70b6e6;
        i {
          padding: 5px 5px 0 0;
          font-size: 15px;
        }
      }
      .follow-content {
        cursor: pointer;
        font-size: 15px;
        font-weight: 600;
        color: #70b6e6;
        i {
          padding: 5px 5px 0 0;
          font-size: 15px;
        }
      }
      .report-content {
        cursor: pointer;
        font-size: 15px;
        font-weight: 600;
        color: #70b6e6;
        i {
          padding: 5px 5px 0 0;
          font-size: 15px;
        }
      }
    }
  }
  .comment {
    margin-top: 50px;
    .ant-avatar {
      background-color: bisque;
    }
  }
}
.list-cmt {
  margin-top: 10px;
}
