@import "../../../styles/variables";

.blog-item {
  border-bottom: 1px solid #d6d6d7;
  width: 100%;
  height: 12vh;
  .item-title {
    display: flex;
    height: 70%;
    .item-avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      .avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        background-color: beige;
        border-radius: 50%;
        img {
          border-radius: 50%;
          width: 80%;
        }
      }
    }
    .content {
      padding: 5px;
      .details {
        padding: 5px;
        display: flex;
        align-items: center;
        a {
          padding-right: 20px;
        }
        span {
          color: rgb(197, 197, 192);
          padding-right: 5px;
        }
        div {
          color: rgb(197, 197, 192);
        }
      }
      .details-title {
        display: flex;
        max-width: 100%;
        span {
          cursor: pointer;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-top: 10px;
          font-size: 20px;
          &:hover {
            color: #1890ff;
          }
        }
      }
    }
  }
  .interactive {
    padding-left: 70px;
    margin-top: 5px;
    .interact {
      .anticon-like {
        cursor: pointer;
      }
      .comment-action {
        padding: 0 10px;
      }
      .anticon-dislike {
        cursor: pointer;
      }
    }
  }
}
