@import "../../styles/variables";

.home {
  padding-top: 30px;
  height: 220vh;
  width: 1350px;
  max-width: 100%;
  margin: 0 auto;
  .home-content {
    width: 100%;
    height: 100%;
    .menu-custom {
      border: none;
    }
    .home-posts {
      .post-content {
        margin: 0 auto;
        width: 98%;
        .total-new {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 10px;
          height: 40px;
          border-radius: 5px;
          background-color: #70b6e6;
          font-weight: 500;
        }
        .post-item {
          margin-top: 10px;
        }
      }
    }
  }
}
