@import "../../../../styles/variables";

.post-select {
  display: flex;
  align-items: center;
  height: 50px;
  .select {
    padding-right: 20px;
    font-family: $poppins-helvetica;
    font-size: 15px;
    .ant-select-selector {
      border: 1px solid #70b6e6;
      background-color: #fff;
      width: 250px;
      height: 40px;
      border-radius: 5px;
      display: flex;
      align-items: center;
    }
  }
}
