@import "../../../../styles/variables";

.report-post-modal {
  overflow-y: hidden;
  .ant-modal-content {
    border-radius: 10px;
    .ant-modal-body {
      min-height: 30vh;
    }
  }
  .report-content {
    .title {
      display: flex;
      justify-content: center;
      font-size: 20px;
      margin-bottom: 15px;
    }
    .button {
      margin-top: 30px;
      .ant-btn-primary {
        margin: 0 10px;
      }
    }
  }
}
