@import "../../styles/variables";

.blog {
  height: 120vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1150px;
  max-width: 100%;
  margin: 0 auto;
  .blog-content {
    padding: 50px 0;
    width: 100%;
    .blog-item {
      .content-blog {
        height: 100vh;
        margin-bottom: 50px;
        width: 90%;
      }
    }
    .blog-different {
      .question-new {
        .selection-title {
          width: 100%;
          height: 3%;
          display: flex;
          justify-content: space-between;
          a {
            font-size: 20px;
          }
          .hr {
            width: 55%;
            height: 1px;
            margin-top: 20px;
            border: 0;
            border-top: 1px solid rgba(27, 27, 27, 0.1);
          }
        }
        .content-different {
          padding-top: 20px;
          .post-item {
            border-bottom: 1px solid rgba(27, 27, 27, 0.1);
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            .title-post {
              cursor: pointer;
              font-size: 15px;
              width: 100%;
              span {
                &:hover {
                  color: cornflowerblue;
                }
              }
            }
            .interactive {
              display: flex;
              width: 100%;
              color: rgb(134, 136, 132);
            }
            .user {
              color: rgb(179, 182, 175);
              width: 100%;
              padding-bottom: 10px;
            }
          }
        }
      }
      .start-ask {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 80px;
        .ask-title {
          font-size: 18px;
          font-weight: 700;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 40%;
          width: 100%;
        }
        .ant-btn {
          font-weight: 700;
          color: #fff;
          height: 60%;
          width: 100%;
          background-color: #70b6e6;
          border-radius: 5px;
          &:hover {
            background-color: #99d0f5;
            color: #000;
          }
        }
      }
    }
  }
}
