@import "../../../../styles/variables";

.item-content {
  width: 100%;
  margin-top: 20px;
  display: block;
  border-radius: 5px;
  box-shadow: 0px 2px 14px 5px #f3f2f2;
  .content-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35%;
    padding: 5px 15px;
    .infor-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 6%;
      height: 45px;
      border-radius: 50%;
      box-shadow: 0px 0px 5px #000 inset;
      img {
        width: 44px;
        height: 44px;
        border-radius: 50%;
      }
    }
    .infor-details {
      width: 85%;
      height: 90%;
      .details {
        span {
          padding-right: 20px;
        }
        .anonymus{
          font-style: 700;
          font-size: 20px;
        }
      }
    }
    .infor-point {
      width: 4%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      height: 30px;
      color: #fff;
      font-size: 12px;
      font-weight: 600;
      background-color: #70b6e6;
    }
  }
  .content-title {
    display: flex;
    align-items: center;
    padding-left: 10%;
    height: 30%;
    font-size: 20px;
  }
  .content-interact {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .interact {
      padding-left: 10%;
      .anticon-like {
        cursor: pointer;
      }
      .comment-action {
        padding: 0 10px;
      }
      .anticon-dislike {
        cursor: pointer;
      }
    }
    .reply {
      padding-right: 5%;
      .ant-btn {
        border: 1px solid #70b6e6;
        height: 35px;
        color: #70b6e6;
        border-radius: 5px;
        background-color: #ffffff;
      }
    }
  }
  .comment {
    margin: 0 auto;
    .ant-comment-avatar {
      margin-bottom: 10px;
    }
  }
}
