@import "../../../../styles/variables";

.notification {
  height: 35vh;
  max-height: 35vh;
  width: 18vw;
  max-width: 18vw;
  .content {
    height: 100%;
    .title {
      height: 10%;
      justify-content: center;
      align-items: center;
      display: flex;
      font-size: 18px;
      padding: 0px 0;
      font-weight: 600;
      border-bottom: 1px solid #d6d6d7;
    }
    .content-notifi {
      &::-webkit-scrollbar {
        width: 2px;
        background-color: #f5f5f5;
      }
      overflow: auto;
      height: 90%;
      .notseen,
      .notidetail {
        box-shadow: none;
        margin-top: 0;
        border-bottom: 1px solid #d6d6d7;
        border-radius: 0;
        padding: 7px 15px;
        .title-notifi {
          color: rgb(61, 59, 59);
          font-weight: 550;
          margin-bottom: 10px;
        }
        .conent-notifi {
          font-size: 16px;
          font-weight: 600;
          cursor: pointer;
          a {
            font-size: 14px;
            font-weight: 400;
            color: #000;
          }
          &:hover {
            text-decoration: underline;
          }
        }
        .time-noti {
          color: rgb(112, 109, 109);
        }
      }
    }
  }
}
