@import "../../../../styles/variables";
.user-infor {
  width: 85%;
  .user-content {
    display: flex;
    flex-wrap: wrap;
    .user-general {
      font-size: 16px;
      padding: 0 15px;
      padding-top: 20px;
      border-radius: 5px;
      height: 20vh;
      background-color: #fff;
      .user-default {
        height: 30%;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        .avatar {
          img {
            border-radius: 50%;
            width: 40px;
          }
        }
        .username {
          display: flex;
          flex-wrap: wrap;
          .img-rank {
            margin-top: 5px;
            display: flex;
            align-items: center;
            img {
              width: 20px;
            }
            span {
              padding-left: 10px;
              font-size: 16px;
              font-weight: 600;
            }
          }
          span {
            width: 100%;
          }
        }
      }
    }
    .user-event {
      border-radius: 5px;
      margin-top: 30px;
      height: 18vh;
      background-color: #fff;
      display: flex;
      flex-wrap: wrap;
      .title-event {
        width: 100%;
        height: 5vh;
        font-size: 18px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid rgb(236, 233, 233);
      }
      .content-event {
        display: flex;
        align-items: center;
        width: 100%;
        height: 10vh;
        flex-wrap: wrap;
        .event1 {
          padding-left: 20px;
          display: flex;
          align-items: center;
          width: 100%;
          i {
            padding-right: 10px;
            color: #70b6e6;
          }
          span {
            font-size: 16px;
          }
        }
        .event2 {
          padding-left: 20px;
          display: flex;
          align-items: center;
          width: 100%;
          i {
            padding-right: 10px;
            color: #70b6e6;
          }
          span {
            font-size: 16px;
          }
        }
      }
    }
    .start-ask {
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      height: 80px;
      .ask-title {
        font-size: 18px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40%;
        width: 100%;
      }
      .ant-btn {
        font-weight: 700;
        color: #fff;
        height: 60%;
        width: 100%;
        background-color: #70b6e6;
        border-radius: 5px;
        &:hover {
          background-color: #99d0f5;
          color: #000;
        }
      }
    }
    .question-new {
      margin: 20px 20px;
      border-radius: 5px;
      height: 30vh;
      background-color: #fff;
    }
  }
}
